@use '../abstracts/variables' as vars;
@use '../abstracts/mixins';

#skip-links {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: vars.$box-shadow;
  border-bottom: 1px solid vars.$content;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: max-height vars.$transition;
    flex-wrap: wrap;
    background-color: vars.$white;
    z-index: 10;
    position: relative;

    &:focus-within {
      max-height: 150px;
    }

    li {
      text-align: center;
      flex-grow: 1;
      margin-block: 3px;
    }

    button {
      margin-bottom: 0;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$spacing-lg;
  max-width: 1260px;
  padding: 30px;
  margin-inline: auto;
  text-align: left;

  @include mixins.breakpoint-min(lg) {
    text-align: center;
  }
}

.gallery__links--wrapper ul {
  display: flex;
  flex-direction: column;

  @include mixins.breakpoint-min(xs) {
    flex-direction: row;
    gap: vars.$spacing-md;
  }

  @include mixins.breakpoint-min(lg) {
    justify-content: center;
  }
}

.gallery__images {
  display: flex;
  gap: vars.$spacing-xl;
  flex-direction: column;

  .gallery__images--grid:first-of-type {
    display: grid;
    gap: vars.$spacing-xl;
    grid-template-columns: repeat(1, 1fr);

    picture:nth-child(3) {
      grid-column: span 1;
    }

    img:nth-of-type(1) {
      object-position: 30% 0%;
    }

    img:nth-of-type(2) {
      object-position: 25% 0%;
    }

    @include mixins.breakpoint-min(sm) {
      grid-template-columns: repeat(2, 1fr);

      picture:nth-child(3) {
        grid-column: span 2;
      }
    }
  }

  .gallery__images--grid:last-of-type {
    display: grid;
    gap: vars.$spacing-lg;
    grid-template-columns: repeat(1, 1fr);

    picture:nth-child(3) {
      grid-column: span 1;
    }

    img {
      object-position: 35% 0%;
    }

    @include mixins.breakpoint-min(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include mixins.breakpoint-min(lg) {
    flex-direction: row;

    .gallery__images--grid:first-of-type {
      width: 65%;
      flex-shrink: 0;
    }

    .gallery__images--grid:last-of-type {
      grid-template-columns: 1fr;
    }
  }
}

.media__player {
  transition: filter vars.$transition;
  position: relative;

  &:focus {
    filter: vars.$brightness;
    border-radius: vars.$border-radius-md;

    span {
      background-color: vars.$quatenary;
      color: vars.$primary;
    }
  }

  @include mixins.breakpoint-min(sm) {
    img {
      height: 100%;
    }
  }

  @media (hover: hover) {
    &:hover {
      filter: vars.$brightness;

      span {
        background-color: vars.$quatenary;
        color: vars.$primary;
      }
    }
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

footer {
  margin-right: auto;
}
