.sr-only {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  text-indent: -9999px;
  background-color: transparent;
  color: transparent;
  visibility: hidden;
}
