@use '../abstracts/variables' as vars;
@use '../abstracts/mixins';

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: linear-gradient(vars.$white, vars.$quatenary);

  &.no-scroll {
    overflow: hidden;
  }

  *:focus {
    outline: vars.$outline;
    outline-offset: vars.$outline-offset-out;
    border-radius: vars.$border-radius-sm;
  }

  *:focus:not(:focus-visible) {
    outline: none;
  }
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: normal;
  color: vars.$content;
}

small {
  font-weight: 400;
  font-style: normal;
  font-size: 13.33px;
  line-height: 1.4;
  letter-spacing: normal;
  color: vars.$content;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

a {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: normal;
  color: vars.$secondary;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: underline;
  transition:
    filter vars.$transition,
    scale vars.$transition;

  &:focus {
    text-decoration: none;
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

img {
  border-radius: vars.$border-radius-md;
  object-fit: cover;
  width: 100%;
  display: block;
}

svg {
  flex-shrink: 0;
}

dialog {
  position: fixed;
  text-align: left;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-image: linear-gradient(vars.$quatenary, vars.$white);
    max-width: 1260px;
    border: none;
    margin-inline: auto;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: vars.$spacing-lg;

      .heading {
        margin-bottom: 0;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      height: 100%;

      p {
        max-width: 800px;
      }

      iframe {
        border-radius: vars.$border-radius-md;
        margin-top: vars.$spacing-xl;
        display: block;
        border: none;
        height: 100%;
        width: 100%;

        &:focus {
          outline: vars.$outline;
        }
      }
    }
  }

  @include mixins.breakpoint-min(xs) {
    padding: 100px;

    section {
      border-radius: vars.$border-radius-md;
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
